@import '../../../assets/styles/styles.less';

.validation-filters-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (min-width: 1700px) {
    .validation-filters-container {
        margin-right: 7%;
    }
}

.validation-filters-row {
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
}

.validation-filters-col {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: 1.2em;
}

.validation-filters-col>span {
    margin-inline: 6px;
    font-size: small;
}

.ant-picker {
    background-color: @body-background;
}


.ant-select-item-option-active {
    background-color: @hover-color !important;
    color: @text-color !important;
}