@import '../../assets/styles/styles.less';

.history-filter-section{
    background-color: @body-background !important;
    border-radius: @border-radius-base !important;
    box-shadow: @box-shadow-base !important;
    gap: 20px;
    padding: 15px !important;
    display: flex;
    justify-content: center;
}

.switch-history-filter{
    margin-bottom: 1em;
    
}
